################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitConsoleTestD/.vs/GitConsoleTestD/v16/Server/sqlite3
